<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daily.dailychineseculture.mapper.UserMapper">

    <resultMap id="UserSearchResultMap" type="com.daily.dailychineseculture.dto.UserSearchDTO">
        <result property="userId"   column="user_id"/>
        <result property="account"  column="account"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar"   column="avatar"/>
    </resultMap>

    <select id="fuzzySearch" resultMap="UserSearchResultMap">
        SELECT
            user_id   AS userId,
            account   AS account,
            nickname  AS nickname,
            avatar    AS avatar
        FROM t_user
        <where>
            <if test="keyword != null and keyword != ''">
                (user_id = #{keyword}
                 OR account   LIKE CONCAT('%', #{keyword}, '%')
                 OR nickname  LIKE CONCAT('%', #{keyword}, '%')
                 OR phone     LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        LIMIT 20
    </select>

    <select id="searchUsersForAdmin" resultType="com.daily.dailychineseculture.vo.UserSimpleVO">
        SELECT
            user_id   AS userId,
            nickname  AS nickname,
            phone     AS phone
        FROM t_user
        <where>
            <if test="keyword != null and keyword != ''">
                (phone    LIKE CONCAT('%', #{keyword}, '%')
                 OR nickname LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        LIMIT 10
    </select>
</mapper>
