<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daily.dailychineseculture.mapper.UserDailyRecordMapper">

    <!-- 定义 UserDailyRecord 的结果映射 -->
    <resultMap id="UserDailyRecordResult" type="com.daily.dailychineseculture.entity.UserDailyRecord">
        <id property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="date" column="date"/>
        <result property="learningDuration" column="learning_duration"/>
        <result property="checkInStatus" column="check_in_status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

</mapper>